.header{
  position: relative;
  min-height: 100vh;
  background-color: $color-primary;
  display: grid;
  color: $color-light;
  background-image: url(../img/img-header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 0;
}