.header-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;

  &__container {
   @extend %container;
  }

  &__title {
    margin: 0 0 53px 0;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: $gap;
  }
}