.header-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  padding-top: $gap;
  
  &__container {  
    @extend %container;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: $gap;
  }
}