.header-navbar {
  &__button {
    display: none;
  }

  &__list {
    @include unlist (0 (-$gap-sm)0 0);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
    justify-content: end;
    gap: $gap;
  }

  &__link {
    font-size: 1.125rem;
    letter-spacing: 0.1em;
    padding: $gap $gap-sm;
    transition: color 0.25s;
    &:hover,
    &:focus {
      color: $color-accent;
    }
    }
}
